@import '../../../css/partials/base';

@import url('../submodules/devices/devices.css');
@import url('../submodules/groups/groups.css');
@import url('../submodules/myOffice/myOffice.css');
@import url('../submodules/numbers/numbers.css');
@import url('../submodules/callLogs/callLogs.css');
@import url('../submodules/users/users.css');
@import url('../submodules/featureCodes/featureCodes.css');
@import url('../submodules/vmboxes/vmboxes.css');

@import '../submodules/strategy/partials/addOfficeHours.scss';
@import '../submodules/strategy/partials/dialogsOfficeHolidays.scss';
@import '../submodules/strategy/partials/menuPopup.scss';
@import '../submodules/strategy/partials/changeCallerIdPopup.scss';
@import '../submodules/strategy/partials/customConferenceGreeting.scss';

#voip_container {
	.left-menu {
		#myOffice {
			margin-bottom: 20px;
		}

		& > div {
			margin-top: 10px;
		}
	}

	.right-content {
		@import "../submodules/strategy/_strategy.scss";
	}
}

#voip_container_overlay {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: .3;
}
