<div id="call_logs_container">
	<div class="call-logs-header">
		<div class="title-div">
			{{i18n.callLogs.title}}
		</div>
		<div class="action-div">
			<div class="search-div pull-right">
				<span class="search-box">
					<i class="icon-search"></i>
					<input type="text" class="search-query" placeholder="{{i18n.table.search}}">
				</span>
			</div>
			<div class="filter-div">
				<i class="refresh-filter icon-refresh icon-blue" title="{{i18n.callLogs.resetFilter}}"></i>
				<span>{{i18n.startDate}}:</span>
				<input id="startDate" type="text" class="date-filter filter-from">
				<span>{{i18n.endDate}}:</span>
				<input id="endDate" type="text" class="date-filter filter-to">
				<button type="button" class="apply-filter btn btn-primary" title="{{i18n.callLogs.applyFilter}}">{{i18n.filter}}</button>
				<a href="#" role="button" class="download-csv"><i class="icon-download-alt icon-green"></i>{{i18n.download}}</a>
				<!-- <i class=" icon-download-alt icon-green" title="Download CSV File"></i> -->
			</div>
		</div>
	</div>
	<div class="call-logs-content">
		<div class="call-logs-grid">
			<div class="grid-row-group">
				<div class="grid-row header-row">
					<div class="grid-cell direction">
						<div class="sub-cell cell-top">
							<i class="icon-arrow-right icon-green" title="{{i18n.callLogs.gridHeaders.inboundCall}}"></i>
						</div>
						<div class="sub-cell cell-bottom">
							<i class="icon-arrow-left icon-orange" title="{{i18n.callLogs.gridHeaders.outboundCall}}"></i>
						</div>
					</div>
					<div class="grid-cell datetime">
						<div class="sub-cell cell-top">{{i18n.callLogs.gridHeaders.dateTime1}}</div>
						<div class="sub-cell cell-bottom">{{timezone}}</div>
					</div>
					<div class="grid-cell from">
						<div class="sub-cell single-cell">{{i18n.callLogs.gridHeaders.from}}</div>
					</div>
					<div class="grid-cell to">
						<div class="sub-cell single-cell">{{i18n.callLogs.gridHeaders.to}}</div>
					</div>
					<div class="grid-cell duration">
						<div class="sub-cell cell-top">{{i18n.callLogs.gridHeaders.duration1}}</div>
						<div class="sub-cell cell-bottom">{{i18n.callLogs.gridHeaders.duration2}}</div>
					</div>
					<div class="grid-cell hangup">
						<div class="sub-cell cell-top">{{i18n.callLogs.gridHeaders.hangup1}}</div>
						<div class="sub-cell cell-bottom">{{i18n.callLogs.gridHeaders.hangup2}}</div>
					</div>
					<div class="grid-cell play">
						<div class="sub-cell cell-top">{{i18n.callLogs.gridHeaders.play1}}</div>
						<div class="sub-cell cell-bottom">{{i18n.callLogs.gridHeaders.play2}}</div>
					</div>
					<div class="grid-cell details">
						<div class="sub-cell cell-top">{{i18n.callLogs.gridHeaders.details1}}</div>
						<div class="sub-cell cell-bottom">{{i18n.callLogs.gridHeaders.details2}}</div>
					</div>
					<div class="grid-cell report">
						<div class="sub-cell cell-top">{{i18n.callLogs.gridHeaders.report1}}</div>
						<div class="sub-cell cell-bottom">{{i18n.callLogs.gridHeaders.report2}}</div>
					</div>
				</div>
			</div>
			<div class="grid-row no-match">
				<div class="grid-cell full-width">{{i18n.callLogs.noSearchMatch}}</div>
			</div>
			<div class="grid-row-container">
			</div>
			{{#unless cdrs}}
			<div class="grid-row">
				<div class="grid-cell full-width">{{i18n.table.empty}}</div>
			</div>
			{{/unless}}
		</div>
	</div>
	<div class="call-logs-loader">
		<div class="loader-message">{{i18n.callLogs.loaderMessage}}</div>
		<div class="loading-message"><i class="icon-spinner icon-large"></i><span>{{i18n.callLogs.loadingMessage}}</span></div>
	</div>
</div>
