<div class="edit-device" data-id="{{id}}">
	<div class="title-bar clearfix">
		<div class="device-title pull-left">
			<div class="device-icon">
				<i class="icon-telicon-fax"></i>
			</div>

			{{#if id}}
				<div class="device-model">{{name}}</div>
			{{else}}
				<div class="device-model">{{i18n.devices.fax.new}}</div>
			{{/if}}
		</div>

		<ul class="nav nav-pills pull-right">
			<li class="tabs-main-selector main-section active">
				<a class="tabs-selector change-section" data-section="basic" href="javascript:void(0)">{{ i18n.devices.popupSettings.basicTitle }}</a>
			</li>
			<li class="tabs-main-selector main-section dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">{{ i18n.devices.popupSettings.advancedTitle }}
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu pull-right">
					<li><a class="tabs-selector change-section" data-section="audio" href="javascript:void(0)"><i class="fa fa-music"></i>{{ i18n.devices.popupSettings.audio.menuTitle }}</a></li>
					<li><a class="tabs-selector change-section" data-section="restrictions" href="javascript:void(0)"><i class="fa fa-ban"></i>{{ i18n.devices.popupSettings.restrictions.menuTitle }}</a></li>
					{{#if showEmergencyCnam}}
						<li><a class="tabs-selector change-section" data-section="callerId" href="javascript:void(0)"><i class="fa fa-ambulance"></i>{{ i18n.devices.popupSettings.callerId.menuTitle }}</a></li>
					{{/if}}
				</ul>
			</li>
		</ul>
	</div>

	<div class="content">
		<form id="form_device" class="form-horizontal">
			<div class="tabs-section active" data-section="basic">
				<div class="control-group">
					<label class="control-label" for="name">{{ i18n.devices.fax.deviceName }}</label>
					<div class="controls">
						<input type="text" id="name" name="name" value="{{name}}">
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="sip_username">{{ i18n.devices.sip.username }}</label>
					<div class="controls">
						<input type="text" id="sip_username" name="sip.username" value="{{sip.username}}">
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="sip_password">{{ i18n.devices.sip.password }}</label>
					<div class="controls">
						<input type="password" id="sip_password" name="sip.password" value="{{sip.password}}">
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="sip_username">{{ i18n.devices.sip.realm }}</label>
					<div class="controls">
						<span class="displayed-realm">{{ sip.realm }}</span>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="media_fax_option">{{ i18n.devices.fax.t38 }}</label>
					<div class="controls">
						<select id="media_fax_option" name="media.fax_option">
							<option{{#compare media.fax_option '===' 'auto'}} selected{{/compare}} value="auto">{{ i18n.devices.fax.auto }}</option>
							<option{{#compare media.fax_option '===' 'true'}} selected{{/compare}} value="true">{{ i18n.devices.fax.force }}</option>
							<option{{#compare media.fax_option '===' 'false'}} selected{{/compare}} value="false">{{ i18n.devices.fax.disabled }}</option>
						</select>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label checkbox checkbox-basic">
						{{#monsterCheckbox i18n.devices.popupSettings.miscellaneous.unregisterNotifications.label }}
							<input type="checkbox" name="extra.notify_unregister" id="notify_unregister" {{#unless suppress_unregister_notifications}}checked{{/unless}} />
						{{/monsterCheckbox}}
						<i class="help-popover fa fa-question-circle fa-lg" data-original-title="{{i18n.devices.popupSettings.miscellaneous.unregisterNotifications.help}}" data-placement="top" data-toggle="tooltip"></i>
					</label>
				</div>
			</div>

			<div class="tabs-section clearfix" data-section="audio">
				<div class="title">
					{{ i18n.devices.popupSettings.audio.sectionTitle }}
				</div>

				<div class="helper">
					<i class="fa fa-info-circle"></i>
					{{ i18n.devices.popupSettings.dragAndDrop }}
				</div>

				<div class="items-selector codec-selector" id="audio_codec_selector"></div>
			</div>

			<div class="tabs-section clearfix" data-section="restrictions">
				<div class="restrictions-container">
					<div class="restriction-matcher-div">
						<i class="help-popover fa fa-question-circle fa-lg" data-original-title="{{i18n.devices.popupSettings.restrictions.matcher.help}}" data-placement="top" data-toggle="tooltip"></i>
						<input type="text" class="restriction-matcher-input" placeholder="{{i18n.devices.popupSettings.restrictions.matcher.placeholder}}" />
						<button type="button"  class="monster-button monster-button-primary restriction-matcher-button">{{i18n.devices.popupSettings.restrictions.matcher.button}}</button>
					</div>
					<div class="title">
						{{ i18n.devices.popupSettings.restrictions.sectionTitle }}
					</div>
					<div class="restriction-list">
					{{#each extra.restrictions}}
						<div class="control-group restriction-line{{#if this.disabled}} disabled{{/if}}" data-restriction="{{@key}}">
							<label class="control-label">{{this.friendly_name}}
								{{#if this.help}}
									<i class="help-popover fa fa-question-circle" data-original-title="{{this.help}}" data-placement="top" data-toggle="tooltip"></i>
								{{/if}}
							</label>
							<div class="controls">
								<div class="switch">
								{{#monsterSwitch}}
									<input class="restrictions-switch" type="checkbox" name="call_restriction.{{@key}}.action" data-on="{{@root.i18n.devices.popupSettings.restrictions.allow}}" data-off="{{@root.i18n.devices.popupSettings.restrictions.deny}}" {{#compare this.action '===' 'inherit'}}{{#unless this.disabled}} checked{{/unless}}{{/compare}}{{#if this.disabled}} disabled{{/if}}></input>
								{{/monsterSwitch}}
								</div>
								<i class="restriction-matcher-sign fa-lg fa fa-check monster-green"></i>
							</div>
						</div>
					{{/each}}
					</div>
					<div class="restriction-message help-box">
					</div>
					{{#if extra.hasDisabledRestrictions}}
						{{#monsterText 'info' 'disabled-restrictions-info'}}
							<p>{{ i18n.devices.popupSettings.restrictions.disabledRestrictionsInfo }}</p>
						{{/monsterText}}
					{{/if}}
				</div>
			</div>

			{{#if showEmergencyCnam}}
				<div class="tabs-section clearfix" data-section="callerId">
					<div class="title">
						{{ i18n.devices.popupSettings.callerId.sectionTitle }}
					</div>

					{{#if extra.hasE911Numbers}}
						<div class="control-group">
							<label class="control-label">{{ i18n.devices.popupSettings.callerId.emergency }}</label>
							<div class="controls emergency-number"></div>
						</div>
					{{else}}
						{{#monsterText 'error'}}
							{{ i18n.devices.popupSettings.callerId.noE911Numbers }}
						{{/monsterText}}
					{{/if}}
				</div>
			{{/if}}
		</form>
	</div>

	<div class="actions clearfix">
		{{#if id}}
			<a id="delete_device" class="monster-link"><i class="fa fa-trash-o monster-red"></i>{{ i18n.devices.deleteDevice }}</a>
		{{/if}}

		<div class="pull-right">
			<a class="cancel-link monster-link blue" href="javascript:void(0);">{{ i18n.cancel }}</a>
				<button type="button" class="monster-button monster-button-success save">
				{{#if id}}
					{{ i18n.saveChanges }}
				{{else}}
					{{ i18n.devices.createDevice }}
				{{/if}}
				</button>
		</div>
	</div>
</div>
