<div class="detail-group">
	<div id="form-{{id}}" class="groups-fields row-fluid" data-id="{{id}}">
	<div class="members-container">
	</div>
	<div class="actions">
		<a href="javascript:void(0);" class="pull-left monster-link add-user-link">
			<i class="fa fa-plus-circle monster-green"></i>
			{{ i18n.users.add }}
		</a>
		<div class="pull-right">
			<a class="cancel-link monster-link blue" href="javascript:void(0);">{{ i18n.cancel }}</a>
			<button type="button" class="monster-button monster-button-success save-groups">{{ i18n.saveChanges }}</button>
		</div>
	</div>
</div>
