<div class="item-row" data-id="{{number.phoneNumber}}">
	<div class="features-block pull-right">
		<div class="edit-features"></div>

		<div class="features">
			{{#numberFeatures number.features}}{{/numberFeatures}}
			{{#compare number.state '===' 'port_in'}}
				<i class="fa fa-exclamation-triangle monster-red active help-popover" data-toggle="tooltip" data-placement="top" data-original-title="{{@root.i18n.portIconHelp}}"></i>
			{{/compare}}
		</div>
	</div>
	<div class="number">
		<button type="button" class="monster-button monster-button-danger remove-number">{{ i18n.unassign }}</button>
		{{ formatPhoneNumber number.phoneNumber }}
	</div>
</div>
