<div class="feature-popup-container" data-feature="faxing">
	<div class="feature-popup-title">
        <div class="feature-icon-wrapper">
            <i class="{{user.extra.mapFeatures.faxing.icon}}"></i>
        </div>
        {{ i18n.users.faxing.headline }}
		<div class="switch">
		{{#monsterSwitch}}
			<input class="switch-state" type="checkbox" id="checkbox_caller_id" data-on="{{i18n.enabled}}" data-off="{{i18n.disabled}}"{{#if user.extra.mapFeatures.faxing.active}} checked="checked"{{/if}}></input>
		{{/monsterSwitch}}
		</div>
	</div>

	<div class="content{{#unless user.extra.mapFeatures.faxing.active}} disabled{{/unless}}">
	{{#if faxbox}}
		<p>{{replaceVar i18n.users.faxing.text this.faxbox.notifications.inbound.email.send_to}}</p>
	{{else}}
		<p>{{replaceVar i18n.users.faxing.text this.user.email }}</p>
	{{/if}}
		<form class="form-horizontal" id="faxbox_form">
			<div class="control-group">
				<label for="caller_id" class="control-label">{{ i18n.users.faxing.form.label.callerId }}</label>
				<div class="controls">
					<select name="caller_id" id="caller_id">
					{{#each extra.listNumbers}}
						<option value="{{@key}}"{{#compare @key '===' ../faxbox.caller_id }} selected="true"{{/compare}}>{{formatPhoneNumber @key}}</option>
					{{/each}}
					</select>
				</div>
			</div>
		{{#compare faxbox.cloud_state '===' 'registered'}}
			<div class="control-group">
				<label for="printer_link" class="control-label">{{ i18n.users.faxing.form.label.linkToPrinter }}</label>
				<div class="controls">
					<a id="printer_link" href="{{faxbox.cloud_connector_claim_url}}" target="_blank">{{faxbox.cloud_connector_claim_url}}</a>
				</div>
			</div>
		{{/compare}}
		{{#if faxbox.smtp_email_address}}
			<div class="control-group">
				<label for="stmp_email_address" class="control-label">{{ i18n.users.faxing.form.label.smtpEmailAddress }}</label>
				<div class="controls">
					<span class="text">{{faxbox.smtp_email_address}}</span>
				</div>
			</div>
		{{/if}}
		</form>
		<div class="help-box gray-box">
			<div class="wrapper-icon">
				&nbsp;<i class="icon-info-sign2"></i>&nbsp;
			</div>
			<div class="text-wrapper">
				<p>{{ i18n.users.faxing.helpOne }}<a href="https://tools.google.com/dlpage/cloudprintdriver" target="_blank">{{ i18n.users.faxing.helpTwo }}</a></p>
			</div>
		</div>
	</div>

	<div class="actions clearfix">
        <div class="pull-right">
            <a class="cancel-link monster-link blue" href="javascript:void(0);">{{ i18n.cancel }}</a>
            <button type="button" class="btn btn-success save">{{ i18n.saveChanges }}</button>
        </div>
    </div>
</div>
