<div class="detail-devices">
	<div class="list-wrapper">
		<div class="list-assigned-items device-list">
			<div class="empty-row{{#if emptyAssigned}} visible{{/if}}">
				{{ i18n.users.noAssignedDevices }}
			</div>
			{{#each assignedDevices}}
				<div class="item-row assigned" data-id="{{this.id}}">
					<div class="device">
						<button type="button" class="monster-button monster-button-danger remove-device">{{ @root.i18n.unassign }}</button>
						<a href="javascript:void(0);" class="edit-device-link monster-link">{{ this.name }}</a>
					</div>
				</div>
			{{else}}

			{{/each}}
		</div>
	</div>

	<div class="actions">
		<a class="spare-devices monster-link pull-left" href="javascript:void(0);"><i class="fa fa-list monster-green"></i>{{ i18n.users.devices.spareDevice }}</a>
		<div class="dropdown pull-left">
			<a href="#" class="add-device monster-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-plus monster-green"></i>{{ i18n.users.devices.newDevice }}</a>
			<ul class="dropdown-menu">
				<li><a class="create-device" data-type="sip_device"><i class="icon-telicon-voip-phone"></i>{{ i18n.devices.types.sip_device }}</a></li>
				<li><a class="create-device" data-type="cellphone"><i class="fa fa-phone"></i>{{ i18n.devices.types.cellphone }}</a></li>
				<li><a class="create-device" data-type="smartphone"><i class="icon-telicon-mobile-phone"></i>{{ i18n.devices.types.smartphone }}</a></li>
				<li><a class="create-device" data-type="softphone"><i class="icon-telicon-soft-phone"></i>{{ i18n.devices.types.softphone }}</a></li>
				<li><a class="create-device" data-type="landline"><i class="icon-telicon-home"></i>{{ i18n.devices.types.landline }}</a></li>
				<li><a class="create-device" data-type="fax"><i class="icon-telicon-fax"></i>{{ i18n.devices.types.fax }}</a></li>
				<li><a class="create-device" data-type="ata"><i class="icon-telicon-ata"></i>{{ i18n.devices.types.ata }}</a></li>
				<li><a class="create-device" data-type="sip_uri"><i class="icon-telicon-voip-phone"></i>{{ i18n.devices.types.sip_uri }}</a></li>
			</ul>
		</div>

		<div class="pull-right">
			<a class="cancel-link monster-link blue" href="javascript:void(0);">{{ i18n.cancel }}</a>
			<button type="button" class="monster-button monster-button-success save-devices">{{ i18n.saveChanges }}</button>
		</div>
	</div>
</div>
