<div class="change-pin-popup smart-edit-popup">
	<div class="content">
		<form id="form_new_pin" class="form-horizontal">
			<div class="control-group">
				<label class="control-label" for="inputPin">{{ i18n.users.dialogChangePin.pin }}</label>
				<div class="controls">
					<input required name="pin" type="text" id="inputPin" placeholder="{{ i18n.users.dialogChangePin.pinPlaceholder }}" value="">
				</div>
			</div>
		</form>

		{{#monsterText}}
			{{i18n.users.dialogChangePin.help}}
		{{/monsterText}}
	</div>

	<div class="actions clearfix">
		<div class="pull-right">
			<a class="cancel-link monster-link blue" href="javascript:void(0);">{{ i18n.cancel }}</a>
			<button type="button" class="monster-button monster-button-success save-new-pin">{{ i18n.saveChanges }}</button>
		</div>
	</div>
</div>
