<div class="detail-numbers">
	<div class="list-wrapper">
		<div class="list-assigned-items number-list">
			<div class="empty-row{{#if emptyAssigned}} visible{{/if}}">
				{{ i18n.users.noAssignedNumbers }}
			</div>
			{{#each assignedNumbers}}
				<div class="item-row" data-id="{{this.phoneNumber}}" data-search="{{formatPhoneNumber this.phoneNumber}} {{this.phoneNumber}} {{this.locality.city}} {{this.locality.country}}">
					<div class="features-block pull-right">
						<div class="edit-features">
							<div class="navbar">
								<ul class="nav pull-right">
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog"></i></a>
										<ul class="dropdown-menu">
										{{#unless this.isLocal}}
											<li><a class="callerId-number" href="#"><i class="fa fa-user"></i>{{ ../../i18n.callerId }}</a></li>
											<li><a class="e911-number" href="#"><i class="fa fa-ambulance"></i>{{ ../../i18n.e911 }}</a></li>
										{{/unless}}
											<li><a class="prepend-number" href="#"><i class="fa fa-file-text-o"></i>{{ ../i18n.numberPrepend }}</a></li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
						<div class="features">
						{{#compare this.state '===' 'port_in'}}
							<i class="fa fa-exclamation-triangle monster-red active help-popover" data-toggle="tooltip" data-placement="top" data-original-title="{{../../i18n.portIconHelp}}"></i>
						{{/compare}}
							{{#each this.viewFeatures}}
								<i class="{{icon}} {{active}} help-popover" data-toggle="tooltip" data-placement="top" data-original-title="{{ help }}"></i>
							{{/each}}
						</div>
					</div>
					<div class="number">
						<button type="button" class="monster-button monster-button-danger remove-number">{{ ../i18n.unassign }}</button>
						{{ formatPhoneNumber this.phoneNumber }}
					</div>
					<!--<div class="locality">
						{{#if this.localityEnabled}}
							<span class="flag"><img src="css/assets/flags/32/{{ this.locality.iso }}.png" height="32" width="32"></img></span>
							<span class="city">{{ this.locality.city }}, {{ this.locality.country }}</span>
						{{else}}
							N/A
						{{/if}}
					</div>
					-->
				</div>
			{{else}}

			{{/each}}
		</div>
	</div>

	<div class="actions">
		<a href="#" class="spare-link monster-link pull-left{{#if emptySpare}} disabled{{/if}}">
			<i class="fa fa-plus monster-green fa-lg"></i>{{ i18n.users.addFromSpare }}
		</a>
		<ul class="buy-dropdown nav pull-left">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle buy-dropdown monster-link" data-toggle="dropdown" data-target="#"><i class="fa fa-shopping-cart monster-green fa-lg"></i>{{ i18n.strategy.numberLinks.buy.link }}</a>
				<ul class="dropdown-menu" role="menu">
					<li><a class="buy-link" data-type="regular" href="#">{{i18n.strategy.numberLinks.buy.regular}}</a></li>
					<li><a class="buy-link" data-type="tollfree" href="#">{{i18n.strategy.numberLinks.buy.tollfree}}</a></li>
					<li><a class="buy-link" data-type="vanity" href="#">{{i18n.strategy.numberLinks.buy.vanity}}</a></li>
				</ul>
			</li>
		</ul>

		<div class="pull-right">
			<a class="cancel-link monster-link blue" href="javascript:void(0);">{{ i18n.cancel }}</a>
			<button type="button" class="monster-button monster-button-success save-numbers">{{ i18n.saveChanges }}</button>
		</div>
	</div>
</div>
