<div class="monster-feature-popup-container" data-feature="caller_id">
	<div class="feature-popup-title">
		<div class="feature-fa-wrapper">
			<i class="{{extra.mapFeatures.caller_id.icon}}"></i>
		</div>
		{{ i18n.users.caller_id.headline }}
		<div class="switch">
		{{#monsterSwitch}}
			<input class="switch-state" type="checkbox" data-on-label="{{i18n.enabled}}" data-off-label="{{i18n.disabled}}"{{#if extra.mapFeatures.caller_id.active}} checked="checked"{{/if}}></input>
		{{/monsterSwitch}}
		</div>
	</div>
	<div class="content{{#unless extra.mapFeatures.caller_id.active}} disabled{{/unless}}">
		{{ i18n.users.caller_id.dropdownLabel }}
		<select class="caller-id-select">
			{{#each extra.listCallerId}}
				<option{{#compare ../this.caller_id.external.number "===" this}} selected{{/compare}} value="{{this}}">{{this}}</option>
			{{/each}}
		</select>

		{{#monsterText}}
			{{i18n.users.caller_id.help}}
		{{/monsterText}}
	</div>

	<div class="actions clearfix">
		<div class="pull-right">
			<a class="cancel-link monster-link blue" href="javascript:void(0);">{{ i18n.cancel }}</a>
			<button type="button" class="monster-button monster-button-success save">{{ i18n.saveChanges }}</button>
		</div>
	</div>
</div>
