<div class="feature-popup-container" data-feature="call_forward">
	<div class="feature-popup-title">
		<div class="feature-fa-wrapper">
			<i class="{{extra.mapFeatures.call_forward.icon}}"></i>
		</div>
		{{ i18n.users.call_forward.headline }}
		<div class="switch">
		{{#monsterSwitch}}
			<input class="switch-state" type="checkbox" id="checkbox_call_forward" data-on="{{i18n.enabled}}" data-off="{{i18n.disabled}}"{{#if extra.mapFeatures.call_forward.active}} checked="checked"{{/if}}></input>
		{{/monsterSwitch}}
		</div>
	</div>

	<div class="content{{#unless extra.mapFeatures.call_forward.active}} disabled{{/unless}}">
		<form id="call_forward_form" class="form form-horizontal">
			<div class="control-group">
				<label class="control-label" for="phoneType">{{ i18n.users.call_forward.label }}</label>
				<div class="controls">
					<select class="span2" id="phoneType" name="phoneType">
						<option value="mobile" selected>{{ i18n.users.call_forward.mobile }}</option>
						<option value="deskphone">{{ i18n.users.call_forward.deskphone }}</option>
					</select>
				</div>
			</div>

			<div class="control-group">
				<label for="number" class="control-label">{{ i18n.users.call_forward.number }}</label>
				<div class="controls">
					<input required id="number" type="text" name="number" class="span2" placeholder="{{ i18n.users.call_forward.placeholder }}" value="{{call_forward.number}}">
				</div>
			</div>

			<!-- <div class="main-line">
				{{ i18n.users.call_forward.label }}
				<input required id="number_field" type="text" name="number" class="input-medium" placeholder="{{ i18n.users.call_forward.placeholder }}" value="{{call_forward.number}}"></input>
			</div> -->

			<label class="fix-left">
				{{#monsterCheckbox i18n.users.call_forward.requireKeyPress}}
					<input type="checkbox" name="require_keypress"{{#unless call_forward.require_keypress}} checked{{/unless}}></input>
				{{/monsterCheckbox}}
			</label>
			<label class="fix-left">
				{{#monsterCheckbox i18n.users.call_forward.directCallsOnly}}
					<input type="checkbox" name="direct_calls_only"{{#if call_forward.direct_calls_only}} checked{{/if}}></input>
				{{/monsterCheckbox}}
			</label>
			<label class="fix-left">
				{{#monsterCheckbox i18n.users.call_forward.keepCallerId}}
					<input type="checkbox" name="keep_caller_id"{{#if call_forward.keep_caller_id}} checked{{/if}}></input>
				{{/monsterCheckbox}}
			</label>
		</form>

		{{#if extra.timeoutTooShort}}
			{{#monsterText 'error'}}
				{{ i18n.users.call_forward.timeoutWarning }}
			{{/monsterText}}
		{{/if}}
	</div>

	<div class="actions clearfix">
		<div class="pull-right">
			<a class="cancel-link monster-link blue" href="javascript:void(0);">{{ i18n.cancel }}</a>
			<button type="button" class="monster-button monster-button-success save">{{ i18n.saveChanges }}</button>
		</div>
	</div>
</div>
