<div class="change-password-popup smart-edit-popup">
	<div class="content">
		<form id="form_new_username" class="form-horizontal">
			<div class="control-group">
				<label class="control-label" for="inputEmail">{{ i18n.users.dialogChangePassword.username }}</label>
				<div class="controls">
					<input required name="username" type="email" id="inputEmail" placeholder="Email" value="{{username}}">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputPassword">{{ i18n.users.dialogChangePassword.password }}</label>
				<div class="controls">
					<input required name="password" type="password" id="inputPassword" placeholder="{{ i18n.users.dialogChangePassword.passwordPlaceholder }}">
				</div>
			</div>
		</form>
		{{#monsterText}}
			{{i18n.users.dialogChangePassword.help}}
			<br/><br/>
			{{i18n.users.dialogChangePassword.resetPassword.text}}
			<a class="monster-link blue reset-password" href="javascript:void(0)">{{i18n.users.dialogChangePassword.resetPassword.linkTitle}}</a>.
		{{/monsterText}}
	</div>

	<div class="actions clearfix">
		<div class="pull-right">
			<a class="cancel-link monster-link blue" href="javascript:void(0);">{{ i18n.cancel }}</a>
			<button type="button" class="monster-button monster-button-success save-new-username">{{ i18n.saveChanges }}</button>
		</div>
	</div>
</div>
