<div class="monster-feature-popup-container" data-feature="call_failover">
	<div class="feature-popup-title">
		<div class="popup-title">
			<div class="feature-fa-wrapper">
				{{telicon extra.mapFeatures.call_failover.telicon}}
			</div>

			<div class="feature-title">
				{{ i18n.users.call_failover.headline }}
			</div>
		</div>

		<div class="switch popup-action">
			{{#monsterSwitch}}
			<input class="switch-state" type="checkbox" data-on="{{i18n.enabled}}" data-off="{{i18n.disabled}}" {{#if
				extra.mapFeatures.call_failover.active}} checked="checked" {{/if}} />
			{{/monsterSwitch}}
		</div>
	</div>

	<div class="content{{#unless extra.mapFeatures.call_failover.active}} disabled{{/unless}}">
		<form id="call_failover_form" class="form form-horizontal">
			<div class="control-group">
				<label for="number" class="control-label">{{ i18n.users.call_failover.label }}</label>
				<div class="controls">
					<input required id="number" type="text" name="number" class="span2"
						placeholder="{{ i18n.users.call_failover.placeholder }}" value="{{call_failover.number}}">
				</div>
			</div>

			<label class="fix-left">
				{{#monsterCheckbox i18n.users.call_failover.requireKeyPress}}
				<input type="checkbox" name="require_keypress" {{#if call_failover.require_keypress}}
					checked{{/if}}></input>
				{{/monsterCheckbox}}
			</label>
			<label class="fix-left">
				{{#monsterCheckbox i18n.users.call_failover.directCallsOnly}}
				<input type="checkbox" name="direct_calls_only" {{#if call_failover.direct_calls_only}}
					checked{{/if}}></input>
				{{/monsterCheckbox}}
			</label>
			<label class="fix-left">
				{{#monsterCheckbox i18n.users.call_failover.keepCallerId}}
				<input type="checkbox" name="keep_caller_id" {{#if call_failover.keep_caller_id}}
					checked{{/if}}></input>
				{{/monsterCheckbox}}
			</label>
		</form>
	</div>

	<div class="actions clearfix">
		<div class="pull-right">
			<a class="cancel-link monster-link blue" href="javascript:void(0);">{{ i18n.cancel }}</a>
			<button type="button" class="monster-button monster-button-success save">{{ i18n.saveChanges }}</button>
		</div>
	</div>
</div>
