<div id="reset_mfa_dialog">
	<div class="alert-dialog">
		<div class="dialog-content">
			<div class="dialog-header">{{ replaceVar i18n.users.resetMFADialog.resetMFAUserName name }}</div>

			<div class="dialog-text">
				{{ i18n.users.resetMFADialog.message }}
			</div>
		</div>

		<div class="alert-buttons-wrapper clearfix">
			<button class="monster-button" id="cancel_button">{{ i18n.cancel }}</button>
			<button class="monster-button-success" id="confirm_button">{{ i18n.users.resetMFADialog.proceed }}</button>
		</div>
	</div>
</div>
