#call_logs_container {
	min-width: 660px;
}

#call_logs_container .call-logs-header .title-div {
	font-size: 24px;
	height: 30px;
	line-height: 30px;
	margin-bottom: 10px;
}
#call_logs_container .call-logs-header .search-div input.search-query {
	width: 140px;
}
#call_logs_container .call-logs-header .filter-div {
	margin-right: 20px;
}
#call_logs_container .call-logs-header .filter-div > * {
	margin: 0 10px 0 0;
	vertical-align: middle;
}
#call_logs_container .call-logs-header .filter-div > span {
	margin-right: 5px;
}
#call_logs_container .call-logs-header .filter-div input.date-filter {
	width: 80px;
}
#call_logs_container .call-logs-header .filter-div i.refresh-filter:hover {
	text-shadow: 1px 1px 0px #999;
	cursor: pointer;
}
#call_logs_container .call-logs-header .filter-div .download-csv i {
	margin-right: 5px;
	vertical-align: inherit;
}
#call_logs_container .call-logs-header .filter-div .download-csv:hover i {
	text-shadow: 1px 1px 0px #999;
	text-decoration: none;
}

#call_logs_container .call-logs-content {
	margin-top: 20px;
}

#call_logs_container .call-logs-grid {
	background-color: #f6f6f6;
	border-bottom: solid 2px #ddd;
	border-radius: 4px;
	max-height: 500px;
	overflow: auto;
}

#call_logs_container .grid-row-group:not(:last-of-type) {
	border-bottom: solid 1px #e3e3e3;
}
#call_logs_container .grid-row-group:first-of-type {
	border-bottom: solid 1px #ddd;
}
#call_logs_container .grid-row-group .grid-row:not(:first-of-type) {
	border-top: solid 1px #e3e3e3;
}
#call_logs_container .grid-row-group:last-of-type:not(.open) .a-leg {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
#call_logs_container .grid-row-group.open:last-of-type .b-leg:last-of-type {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
#call_logs_container .grid-row.header-row {
	background-color: #22ccff;
	background-image: linear-gradient(to bottom,#22ccff,#22a5ff);
	background-image: -moz-linear-gradient(top,#22ccff,#22a5ff);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#22ccff),to(#22a5ff));
	background-image: -webkit-linear-gradient(top,#22ccff,#22a5ff);
	background-image: -o-linear-gradient(top,#22ccff,#22a5ff);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff22ccff',endColorstr='#ff22a5ff',GradientType=0);
	color: #fff;
	text-shadow: 1px 1px 1px #666666;
	font-weight: 600;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
#call_logs_container .grid-row:not(.header-row) {
	font-size: 13px;
}
#call_logs_container .grid-row:not(.header-row) > .grid-cell:first-child {
	border-left: solid 2px #ddd;
}
#call_logs_container .grid-row:not(.header-row) > .grid-cell:last-child {
	border-right: solid 2px #ddd;
}
#call_logs_container .grid-row.no-match {
	display: none;
}
#call_logs_container .grid-row-group:not(.open) .grid-row.a-leg.has-b-legs > .grid-cell:first-child {
	border-left: solid 2px #22ccff;
}
#call_logs_container .grid-row-group.open .grid-row > .grid-cell:first-child {
	border-left: solid 2px #44cc44;
}
#call_logs_container .grid-row.a-leg.has-b-legs:hover {
	background-color: #eee;
	cursor: pointer;
}
#call_logs_container .grid-row.b-leg {
	background-color: #fcfcfc;
	display: none;
}

#call_logs_container .grid-cell {
	display: inline-block;
	padding: 10px 5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	text-align: center;
	vertical-align: bottom;
}
#call_logs_container .grid-cell:not(:first-of-type) {
	border-left: solid 1px #e3e3e3;
}
#call_logs_container .grid-cell.direction {
	width: 4%;
}
#call_logs_container .grid-cell.datetime {
	width: 12%;
}
#call_logs_container .grid-cell.from {
	width: 20%;
}
#call_logs_container .grid-cell.to {
	width: 20%;
}
#call_logs_container .grid-cell.duration {
	width: 9%;
}
#call_logs_container .grid-cell.hangup {
	width: 15%;
}
#call_logs_container .grid-cell.full-width {
	width: 100%;
}
#call_logs_container .grid-row:not(.header-row) .grid-cell.hangup {
	text-transform: lowercase;
	font-size: 12px;
	font-style: italic;
}
#call_logs_container .grid-cell.details {
	width: 10%;
}
#call_logs_container .grid-cell.details i:hover {
	color: #22ccff;
	cursor: pointer;
}
#call_logs_container .grid-cell.report {
	width: 10%;
}
#call_logs_container .sub-cell {
	height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
}
#call_logs_container .sub-cell.single-cell {
	height: 40px;
	line-height: 40px;
}

#call_logs_container .call-logs-loader {
	margin-top: 10px;
	padding: 10px;
	border: solid 1px #999;
	border-radius: 4px;
	text-align: center;
	background-color: #eaeaea;
}

#call_logs_container .call-logs-loader .loader-message {
	cursor: pointer;
}

#call_logs_container .call-logs-loader.loading .loader-message {
	display: none;
}

#call_logs_container .call-logs-loader:not(.loading) .loading-message {
	display: none;
}

#call_logs_container .call-logs-loader .loading-message i {
	margin-right: 10px;
}

/******************** Popup *********************/

#call_logs_details_popup {
	padding: 20px;
	max-width: 700px;
	max-height: 500px;
	overflow: auto;
}
#call_logs_details_popup .details-table {
	font-size: 14px;
	width: 100%;
	table-layout: fixed;
	border: solid 1px #666;
	border-radius: 4px;
	border-collapse: initial;
}
#call_logs_details_popup .details-table tr td {
	padding: 2px 10px;
}
#call_logs_details_popup .details-table tr td:first-of-type {
	width: 220px;
	border-right: solid 1px #A6A6A6;
}
#call_logs_details_popup .details-table thead tr {
	background-color: #ccc;
	font-weight: 600;
	text-align: center;
}
#call_logs_details_popup .details-table thead tr td {
	border-bottom: solid 1px #666;
}
#call_logs_details_popup .details-table thead tr td:first-of-type {
	border-top-left-radius: 4px;
}
#call_logs_details_popup .details-table thead tr td:last-of-type {
	border-top-right-radius: 4px;
}
#call_logs_details_popup .details-table tbody tr td:first-of-type {
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: right;
}
#call_logs_details_popup .details-table tbody tr td:last-of-type {
	word-wrap: break-word;
}
#call_logs_details_popup .details-table tbody tr:not(:last-of-type) td {
	border-bottom: solid 1px #A6A6A6;
}
#call_logs_details_popup .details-table tbody tr:nth-child(odd) {
	background-color: #eee;
}
#call_logs_details_popup .details-table tbody tr:nth-child(even) {
	background-color: #ddd;
}
#call_logs_details_popup .details-table tbody tr:last-of-type td:first-of-type {
	border-bottom-left-radius: 4px;
}
#call_logs_details_popup .details-table tbody tr:last-of-type td:last-of-type {
	border-bottom-right-radius: 4px;
}

/********************** COLORBLIND SETTINGS **********************/
body.colorblind #call_logs_container .grid-row:not(.header-row) .grid-cell.direction {
	background-color: #999;
}
body.colorblind #call_logs_container .grid-cell.direction .icon-green {
	color: #EEE !important;
}
body.colorblind #call_logs_container .grid-cell.direction .icon-orange {
	color: #222 !important;
}