<div>
	<form id="strategy_custom_hours_form">
		<div class="custom-hours-toggler">
			<label>
				<div class="title">
					{{#monsterRadio i18n.strategy.hours.alwaysOpenTitle}}<input type="radio" name="enabled" value="false" {{#if alwaysOpen}}checked{{/if}}>{{/monsterRadio}}
				</div>
				<div class="description">
					{{i18n.strategy.hours.alwaysOpenDescription}}
				</div>
			</label>
			<label>
				<div class="title">
					{{#monsterRadio i18n.strategy.hours.customHoursTitle}}<input type="radio" name="enabled" value="true" {{#unless alwaysOpen}}checked{{/unless}}>{{/monsterRadio}}
				</div>
				<div class="description">
					{{i18n.strategy.hours.customHoursDescription}}
				</div>
			</label>
		</div>

		<div class="custom-hours-div" {{#unless alwaysOpen}}style="display: block;"{{/unless}}>
			<div class="custom-hours-header">
				<div class="pull-right timezone-container">
					{{i18n.strategy.hours.timezone}}
					<span id="strategy_custom_hours_timezone" class="timezone">{{companyTimezone}}</span>
				</div>
				<div class="title">{{i18n.strategy.hours.listTitle}}</div>
			</div>
			{{#monsterPanelText "Info" "info" "fill-width"}}
				<p>{{i18n.strategy.hours.infoOne}}</p>
				<p>{{i18n.strategy.hours.infoTwo}}</p>
			{{/monsterPanelText}}
			<div class="custom-hours-wrapper">
				<div class="actions">
					<button type="button" class="monster-button-primary monster-button-svg">
						{{telicon "plus"}}
						<span>
							{{i18n.strategy.hours.addHours}}
						</span>
					</button>
				</div>
				<div class="office-hours-wrapper">
					<ul class="office-hours-nav">
						<li class="nav-item active">
							{{i18n.strategy.hours.allDays}}
						</li>
					{{#each hours}}
						<li class="nav-item{{#unless intervals}} disabled{{/unless}}" data-day="{{id}}">
							{{abbreviation}}
						</li>
					{{/each}}
					</ul>
					<div class="office-hours-content">
					{{#if isEmpty}}
						<div class="empty-state">
							<div class="title">
								{{telicon "clock"}}
								<span class="text">
									{{i18n.strategy.hours.emptyState.title}}
								</span>
							</div>
						</div>
					{{else}}
						{{#each hours}}
							{{#if intervals}}
								<div class="office-hours" data-day="{{id}}">
									<div class="day">
										{{label}}
									</div>
									<ul class="intervals">
									{{#each intervals}}
										<li class="interval">
											<div class="hours">
												<input class="span2 {{../id}}[{{@key}}].from"></input>
												<span class="separator">
													{{@root.i18n.strategy.hours.to}}
												</span>
												<input class="span2 {{../id}}[{{@key}}].to"></input>
											</div>
											<div class="status">
												<select name="{{../id}}[{{@key}}].isOpen" class="status">
												{{#select isOpen}}
													<option value="true">
														{{@root.i18n.strategy.hours.open}}
													</option>
													<option value="false">
														{{@root.i18n.strategy.hours.lunch}}
													</option>
												{{/select}}
												</select>
											</div>
											<button type="button" class="monster-button-ghost-icon delete-interval">
												{{telicon "trash"}}
											</button>
										</li>
									{{/each}}
									</ul>
								</div>
							{{/if}}
						{{/each}}
					{{/if}}
					</div>
				</div>
			</div>
			{{!-- <div class="custom-days">
				{{#each days}}
				<div class="custom-day">
					<span class="status pull-right">{{#if this.open}}{{@root.i18n.strategy.open}}{{else}}{{@root.i18n.strategy.closed}}{{/if}}</span>
					<div>
						<label class="custom-day-label">
							{{#monsterCheckbox this.label}}
								<input type="checkbox" name="opendays[]" value="{{this.name}}" {{#if this.open}}checked{{/if}}>
							{{/monsterCheckbox}}
						</label>
						<span class="timepickers" {{#unless this.open}}style="display:none;"{{/unless}}>
							<input required class="from-hour timepicker" type="text" name="weekdays.{{this.name}}.from" value="{{this.from}}">
							{{@root.i18n.strategy.hours.to}}
							<input required class="to-hour timepicker" type="text" name="weekdays.{{this.name}}.to" value="{{this.to}}">
						</span>
					</div>
				</div>
				{{/each}}
			</div> --}}
		</div>
		<div class="custom-hours-actions basic-actions">
			<a href="#" class="monster-link cancel-link">{{i18n.cancel}}</a>
			<button class="monster-button monster-button-success save-button">{{i18n.saveChanges}}</button>
		</div>
	</form>
</div>
