<div class="complex-strategy-content" data-strategy="{{strategy}}">
    <div class="test-append">
        {{#each rules}}
            <div class="complex-strategy-header">
                <div class="forward-from">
                    <label>
                        {{ @root.i18n.users.callForwarding.strategies.selective.rules.from }}
                    </label>

                    <div class="complex-rule">
                        {{#monsterRadio @root.i18n.users.callForwarding.strategies.selective.all }}
                        <input type="radio" class="radio-state" name="{{@root.strategy}}.rule[{{@index}}].from" value="allNumbers"
                            checked="checked" {{#compare @root.type '===' 'allNumbers' }} checked{{/compare}} />
                        {{/monsterRadio}}

                        <div>
                            {{#monsterRadio @root.i18n.users.callForwarding.strategies.selective.specific }}
                            <input type="radio" class="radio-state" name="{{@root.strategy}}.rule[{{@index}}].from" value="specific" {{#compare
                                type '===' 'specific' }} checked{{/compare}} />
                            {{/monsterRadio}}

                            <div class="selective-control-group specific disabled">
                                <div class="specific-phone-number-wrapper">
                                    <label for="{{@root.strategy}}.rule[{{@index}}].phoneNumber.value" class="control-label">
                                        {{@root.i18n.users.callForwarding.strategies.common.phoneNumber.inputLabel}}
                                    </label>
                                    <div class="controls specific-controls">
                                        <input class="controlls-width margins" name="{{@root.strategy}}.rule[{{@index}}].phoneNumbers[]"
                                            type="phoneNumber" value="{{selective.number}}">
                                        <a class="remove-number-button">
                                            {{telicon "telicon2--trash-x"}}
                                        </a>
                                    </div>
                                </div>
                                <a class="add-phone-number">
                                    {{telicon "plus"}}
                                    <span>
                                        {{@root.i18n.users.callForwarding.strategies.selective.buttons.addNumber}}
                                    </span>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="forward-to">
                    <label>
                        {{ @root.i18n.users.callForwarding.strategies.selective.rules.to }}
                    </label>

                    <div class="complex-rule">
                        <div class="voicemail-wrapper">
                            <div>
                                {{#monsterRadio @root.i18n.users.callForwarding.strategies.common.voicemail.label }}
                                <input type="radio" class="radio-state" name="{{@root.strategy}}.rule[{{@index}}].type" value="voicemail"
                                    {{#compare @root.type '===' 'voicemail' }} checked{{/compare}} />
                                {{/monsterRadio}}
                            </div>
                            <div>
                                <div class="selective-control-group voicemail {{#compare @root.type '===' 'phoneNumber' }} disabled{{/compare}}">
                                    <label class="control-label" for="{{@root.strategy}}.rule[{{@index}}].voicemail.value">
                                        {{@root.i18n.users.callForwarding.strategies.common.voicemail.selectLabel}}
                                    </label>
                                    <div class="controls specific-controls">
                                        <select class="controlls-width" id="{{@root.strategy}}.rule[{{@index}}]_voicemail_select"
                                            name="{{@root.strategy}}.rule[{{@index}}].voicemail.value">
                                            {{#select @root.selectedVoicemailId}}
                                            {{#each @root.voicemails as |voicemail|}}
                                            <option value="{{voicemail.id}}">
                                                {{voicemail.name}}
                                            </option>
                                            {{/each}}
                                            {{/select}}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="phone-number-wrapper">
                            {{#monsterRadio @root.i18n.users.callForwarding.strategies.common.phoneNumber.label }}
                            <input type="radio" class="radio-state" name="{{@root.strategy}}.rule[{{@index}}].type" value="phoneNumber" {{#compare
                                type '===' 'phoneNumber' }} checked{{/compare}} />
                            {{/monsterRadio}}

                            <div class="selective-control-group phone-number {{#compare @root.type '===' 'voicemail' }} disabled{{/compare}}">
                                <label for="{{@root.strategy}}.rule[{{@index}}].phoneNumber.value" class="control-label">
                                    {{@root.i18n.users.callForwarding.strategies.common.phoneNumber.inputLabel}}
                                </label>
                                <div class="controls specific-controls">
                                    <input class="controlls-width" name="{{@root.strategy}}.rule[{{@index}}].phoneNumber" type="phoneNumber"
                                        value="{{number}}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="active-duration">
                    <label>
                        {{ @root.i18n.users.callForwarding.strategies.selective.rules.duration }}
                    </label>

                    <div class="complex-rule">
                        {{#monsterRadio @root.i18n.users.callForwarding.strategies.common.length.always }}
                        <input type="radio" class="radio-state" name="{{@root.strategy}}.rule[{{@index}}].length" value="always" checked="checked"
                            {{#compare @root.type '===' 'always' }} checked{{/compare}} />
                        {{/monsterRadio}}

                        {{#monsterRadio @root.i18n.users.callForwarding.strategies.common.length.custom }}
                        <input type="radio" class="radio-state" name="{{@root.strategy}}.rule[{{@index}}].length" value="custom" {{#compare
                            type '===' 'custom' }} checked{{/compare}} />
                        {{/monsterRadio}}

                        <div class="office-hours-wrapper disabled"></div>
                    </div>
                </div>

                <div class="remove-rule">
                    <label>
                        {{ @root.i18n.users.callForwarding.strategies.selective.rules.remove }}
                    </label>

                    <div class="complex-rule">
                        <a class="remove-rule-button">
                            {{telicon "telicon2--trash-x"}}
                        </a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>

    <div>
        <a class="add-rule">
            {{telicon "plus"}}
            <span>
                {{i18n.users.callForwarding.strategies.selective.buttons.addRule}}
            </span>
        </a>
    </div>

    <div class="options{{#compare type '===' 'voicemail' }} disabled{{/compare}}">
        <div>
            {{i18n.users.callForwarding.strategies.common.options.title}}
        </div>
        <div class="options-container">

            <div class="option" strategy="{{strategy}}">
                <div class="options-title">
                    {{i18n.users.callForwarding.strategies.common.options.forward.title}}

                    {{#monsterCheckbox "large-checkbox"}}
                    <input type="checkbox" class="checkbox" value="forward" name="{{strategy}}.isEnabled[]" {{#if
                        direct_calls_only}} checked="checked" {{/if}} />
                    {{/monsterCheckbox}}
                </div>

                <div class="options-description">
                    {{i18n.users.callForwarding.strategies.common.options.forward.helpText}}
                </div>
            </div>

            <div class="option" strategy="{{strategy}}">
                <div class="options-title">
                    {{i18n.users.callForwarding.strategies.common.options.acknowledge.title}}

                    {{#monsterCheckbox "large-checkbox"}}
                    <input type="checkbox" class="checkbox" value="acknowledge" name="{{strategy}}.isEnabled[]" {{#if
                        require_keypress}} checked="checked" {{/if}} />
                    {{/monsterCheckbox}}
                </div>

                <div class="options-description">
                    {{i18n.users.callForwarding.strategies.common.options.acknowledge.helpText}}
                </div>
            </div>
            <br>
            <div class="option" strategy="{{strategy}}">
                <div class="options-title">
                    {{i18n.users.callForwarding.strategies.common.options.keep.title}}

                    {{#monsterCheckbox "large-checkbox"}}
                    <input type="checkbox" class="checkbox" value="keep" name="{{strategy}}.isEnabled[]" {{#if
                        keep_caller_id}} checked="checked" {{/if}} />
                    {{/monsterCheckbox}}
                </div>

                <div class="options-description">
                    {{i18n.users.callForwarding.strategies.common.options.keep.helpText}}
                </div>
            </div>

            <div class="option" strategy="{{strategy}}">
                <div class="options-title">
                    {{i18n.users.callForwarding.strategies.common.options.ring.title}}

                    {{#monsterCheckbox "large-checkbox"}}
                    <input type="checkbox" class="checkbox" value="ring" name="{{strategy}}.isEnabled[]" {{#if
                        ignore_early_media}} checked="checked" {{/if}} />
                    {{/monsterCheckbox}}
                </div>

                <div class="options-description">
                    {{i18n.users.callForwarding.strategies.common.options.ring.helpText}}
                </div>
            </div>
        </div>

    </div>
</div>