<div>
    <table>
        <thead class="table-header ">
            <tr>
                <th>
                    {{ i18n.users.callForwarding.strategies.selective.rules.customDuration.day }}
                </th>
                <th>
                    {{ i18n.users.callForwarding.strategies.selective.rules.customDuration.start }}
                </th>
                <th>
                    {{ i18n.users.callForwarding.strategies.selective.rules.customDuration.end }}
                </th>
            </tr>
        </thead>
        <tbody>
            {{#each intervals}}
            <tr>
                <td>
                    {{#monsterCheckbox (tryI18n i18n.strategy.hours.days weekday)}}
                    <input type="checkbox" name="{{@root.strategy}}.rule[{{@root.ruleIndex}}].intervals[{{@index}}].active" {{#if active}}
                        checked="checked" {{/if}} />
                    {{/monsterCheckbox}}

                    <input type="hidden" name="{{@root.strategy}}.rule[{{@root.ruleIndex}}].intervals[{{@index}}].weekday" value="{{weekday}}">
                </td>
                <td>
                    <input class="start table-cell" name="{{@root.strategy}}.rule[{{@root.ruleIndex}}].intervals[{{@index}}].start"></input>
                </td>
                <td>
                    <input class="end table-cell" name="{{@root.strategy}}.rule[{{@root.ruleIndex}}].intervals[{{@index}}].end"></input>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>