<div class="complex-strategy-header">
	<div class="forward-from">
		<label>
			{{ i18n.users.callForwarding.strategies.selective.rules.from }}
		</label>

		<div class="complex-rule">
			{{#monsterRadio i18n.users.callForwarding.strategies.selective.all }}
			<input type="radio" class="radio-state" name="selective.rule[{{index}}].from" value="allNumbers"
				checked="checked" {{#compare from '===' 'allNumbers' }} checked{{/compare}} />
			{{/monsterRadio}}

			<div>
				{{#monsterRadio i18n.users.callForwarding.strategies.selective.specific }}
				<input type="radio" class="radio-state" name="selective.rule[{{index}}].from" value="specific" {{#compare
					from '===' 'specific' }} checked{{/compare}} />
				{{/monsterRadio}}

				<div class="selective-control-group specific{{#compare from '===' 'allNumbers' }} disabled{{/compare}}">
					<div class="specific-phone-number-wrapper">
						<label for="selective.rule[{{index}}].phoneNumber.value" class="control-label">
							{{i18n.users.callForwarding.strategies.common.phoneNumber.inputLabelFrom}}
						</label>
						<div class="controls specific-controls">
							<input class="controlls-width margins" name="selective.rule[{{index}}].phoneNumbers[]"
								type="phoneNumber" value="{{selective.number}}">
							<a class="remove-number-button">
								{{telicon "telicon2--trash-x"}}
							</a>
						</div>
					</div>
					<a class="add-phone-number">
						{{telicon "plus"}}
						<span>
							{{i18n.users.callForwarding.strategies.selective.buttons.addNumber}}
						</span>
					</a>
				</div>

			</div>
		</div>
	</div>

	<div class="forward-to">
		<label>
			{{ i18n.users.callForwarding.strategies.selective.rules.to }}
		</label>

		<div class="complex-rule">
			<div class="voicemail-wrapper">
				<div>
					{{#monsterRadio i18n.users.callForwarding.strategies.common.voicemail.label }}
					<input type="radio" class="radio-state" name="selective.rule[{{index}}].type" value="voicemail"
						{{#compare type '===' 'voicemail' }} checked{{/compare}} />
					{{/monsterRadio}}
				</div>
				<div>
					<div class="selective-control-group voicemail {{#compare type '===' 'phoneNumber' }} disabled{{/compare}}">
						<label class="control-label" for="selective.rule[{{index}}].voicemail.value">
							{{i18n.users.callForwarding.strategies.common.voicemail.selectLabel}}
						</label>
						<div class="controls specific-controls">
							<select class="controlls-width" id="selective.rule[{{index}}]_voicemail_select"
								name="selective.rule[{{index}}].voicemail.value">
								{{#select selectedVoicemailId}}
								{{#each voicemails as |voicemail|}}
								<option value="{{voicemail.id}}">
									{{voicemail.name}}
								</option>
								{{/each}}
								{{/select}}
							</select>
						</div>
					</div>
				</div>
			</div>

			<div class="phone-number-wrapper">
				{{#monsterRadio i18n.users.callForwarding.strategies.common.phoneNumber.label }}
				<input type="radio" class="radio-state" name="selective.rule[{{index}}].type" value="phoneNumber" {{#compare
					type '===' 'phoneNumber' }} checked{{/compare}} />
				{{/monsterRadio}}

				<div class="selective-control-group phone-number {{#compare type '===' 'voicemail' }} disabled{{/compare}}">
					<label for="selective.rule[{{index}}].phoneNumber.value" class="control-label">
						{{i18n.users.callForwarding.strategies.common.phoneNumber.inputLabelTo}}
					</label>
					<div class="controls specific-controls">
						<input class="controlls-width" name="selective.rule[{{index}}].phoneNumber" type="phoneNumber"
							value="{{number}}">
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="active-duration">
		<label>
			{{ i18n.users.callForwarding.strategies.selective.rules.duration }}
		</label>

		<div class="complex-rule">
			{{#monsterRadio i18n.users.callForwarding.strategies.common.length.always }}
			<input type="radio" class="radio-state" name="selective.rule[{{index}}].length" value="always" checked="checked"
				{{#compare duration '===' 'always' }} checked{{/compare}} />
			{{/monsterRadio}}

			{{#monsterRadio i18n.users.callForwarding.strategies.common.length.custom }}
			<input type="radio" class="radio-state" name="selective.rule[{{index}}].length" value="custom" {{#compare
				duration '===' 'custom' }} checked{{/compare}} />
			{{/monsterRadio}}

			<div class="office-hours-wrapper{{#compare duration '===' 'always' }} disabled{{/compare}}"></div>
		</div>
	</div>

	<div class="remove-rule">
		<label>
			{{ i18n.users.callForwarding.strategies.selective.rules.remove }}
		</label>

		<div class="complex-rule">
			<a class="remove-rule-button">
				{{telicon "telicon2--trash-x"}}
			</a>
		</div>
	</div>
</div>