#vmboxes_container .vmboxes-header {
	font-size: 18px;
	line-height: 30px;
}

#vmboxes_container .vmboxes-header > * {
	display: inline-block;
}

#vmboxes_container .vmboxes-header .left>* {
	display: inline-block;
}

#vmboxes_container .vmboxes-header .left>*:first-child {
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

#vmboxes_container .vmboxes-header .left>*:last-child {
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}
#vmboxes_container .vmboxes-header .title {
	padding: 15px;
	border: 1px solid #dcdcdc;
}

#vmboxes_container .vmboxes-header .count-vmboxes {
	display: inline-block;
	margin-top: -5px;
	margin-left: 15px;
	color: #22a5ff;
	font-weight: 600;
	font-size: 28px;
}

#vmboxes_container .vmboxes-header .dropdown {
	vertical-align: bottom;
}

#vmboxes_container .vmboxes-header .add-vmbox {
	margin: 0;
	padding: 9px 13px;
	border: 1px solid #dcdcdc;
	border-left: 0;
	background-image: -webkit-linear-gradient(top, hsl(0, 0%, 98%) 0%, hsl(0, 0%, 95%) 100%);
	background-image:    -moz-linear-gradient(top, hsl(0, 0%, 98%) 0%, hsl(0, 0%, 95%) 100%);
	background-image:     -ms-linear-gradient(top, hsl(0, 0%, 98%) 0%, hsl(0, 0%, 95%) 100%);
	background-image:      -o-linear-gradient(top, hsl(0, 0%, 98%) 0%, hsl(0, 0%, 95%) 100%);
	background-image:         linear-gradient(top, hsl(0, 0%, 98%) 0%, hsl(0, 0%, 95%) 100%);
	height: 42px;
	vertical-align: top;
	text-align: center;
	font-size: 12px;
}

#vmboxes_container .vmboxes-header .add-vmbox:hover {
	background-image: none;
	background-color: #eee;
	text-decoration: none;
}

#vmboxes_container .vmboxes-header .add-vmbox i {
	font-size: 16px;
	display: block;
	margin: 0;
	color: #929799;
	text-decoration: none;
}

#vmboxes_container .vmboxes-header .add-vmbox:hover i {
	color: #22a5ff;
}

#vmboxes_container .vmboxes-header .search-box { margin: 16px 0 16px 15px; }

#vmboxes_container .vmboxes-grid {
	background: #fcfcfc;
	border: 1px solid #ddd;
	border-radius: 2px;
	margin-top: 20px;
}

#vmboxes_container .vmboxes-grid i.fa-plus {
	margin-left: 5px;
}

#vmboxes_container .vmboxes-grid .empty-search-row,
#vmboxes_container .vmboxes-grid .no-vmboxes-row {
	display: none;
	padding: 16px;
	text-align: center;
}

#vmboxes_container .vmboxes-grid .grid-row.title:not(:last-child) {
	border-bottom: 1px solid #ddd;
}

#vmboxes_container .vmboxes-grid .grid-row.title,
#vmboxes_container .vmboxes-grid .grid-row .user-cells{
	height: 50px;
	line-height: 50px; /* 60 - padding */
}

#vmboxes_container .vmboxes-grid .grid-row:not(:last-child) {
	border-bottom: 1px solid #eee;
}

#vmboxes_container .vmboxes-grid .grid-row.title .grid-cell {
	text-align: center;
	padding-left: 0;
}

#vmboxes_container .vmboxes-grid .grid-row .grid-cell {
	border-right: 1px solid #eee;
	display: inline-block;
	overflow: hidden;
	padding-left: 10px;
	width: 20%;

	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#vmboxes_container .vmboxes-grid .grid-row .grid-cell:first-child {
	border-left: none !important;
}

#vmboxes_container .vmboxes-grid .grid-row .grid-cell:last-child {
	border-right: none !important;
}

#vmboxes_container .vmboxes-grid .grid-row .grid-cell:not(.features) {
	white-space: nowrap;
}

#vmboxes_container .vmboxes-grid .grid-row .grid-cell.centered {
	padding: 0;
	text-align: center;
}

#vmboxes_container .vmboxes-grid .grid-row .grid-cell.right-aligned {
	padding: 0 5px 0 0;
	text-align: right;
}

#vmboxes_container .vmboxes-grid .grid-row .grid-cell.features a.dropdown-toggle {
	padding: 15px 7px 2px 15px;
	text-align: left;
	background: transparent !important;
}

#vmboxes_container .vmboxes-cells {
	height: 60px;
	line-height: 60px;
}

/* Columns */
#vmboxes_container .vmboxes-grid .grid-row .grid-cell.number {
	width: 20%;
}

#vmboxes_container .vmboxes-grid .grid-row .grid-cell.name {
	width: 40%;
}

#vmboxes_container .vmboxes-grid .grid-row .grid-cell.owner {
	width: 30%;
}

#vmboxes_container .vmboxes-grid .grid-row .grid-cell.edit {
	width: 10%;
}

#vmboxes_container .vmboxes-grid .grid-row .grid-cell.edit .settings {
	padding: 10px;
	cursor: pointer;
}
#vmboxes_container .vmboxes-grid .grid-row .grid-cell.edit .settings:hover {
	color: #000;
}

/* Adding / Edition vmboxes Popups */
.edit-vmbox {
	.actions {
		border-top: 1px solid #CCCCCC;
		height: 30px;
		line-height: 30px;
		padding: 15px;
	}

	.actions button {
		margin-left: 10px;
	}

	.title-bar {
		border-bottom: 1px solid #ccc;
		margin-bottom: 20px;
		padding: 15px 0;
	}

	.title-bar .vmbox-title > div {
		display: inline-block;
		float: left;
		font-size: 18px;
		font-weight: bold;
		height: 80px;
		line-height: 80px;
		margin-left: 40px;
	}

	.title-bar .vmbox-title .vmbox-icon {
		height: 75px;
		line-height: 75px;
	}

	.title-bar .vmbox-title .vmbox-icon > i {
		font-size: 48px;
		vertical-align: middle;
	}

	.title-bar .nav-pills {
		margin-top: 24px;
		margin-right: 15px;
	}

	.content .tabs-section .title {
		color: #22a5ff;
		font-size: 24px;
		margin-bottom: 30px;
		margin-left: 40px;
		text-shadow: 1px 0 1px #CCCCCC;
	}

	.control-input.checkbox {
		margin-left: 160px;
	}
	.control-input.checkbox > div {
		display: inline-block;
	}
	.control-input.checkbox.disabled {
		color: #909099;
	}
	.control-input.checkbox.disabled input ~ i {
		border: solid 1px #bcbcc2;
		background: #909099;
	}

	.helper {
		margin: 0 30px;
	}

	.helper i {
		margin-right: 5px;
	}

	.list-entities.emails-list {
		padding: 0 20px;
	}

	.tabs-section[data-section="greeting"] .greeting-container,
	.tabs-section[data-section="greeting"] .temporary-greeting-container {
		padding: 0 90px 25px
	}
	.tabs-section[data-section="greeting"] .greeting-container .media-dropdown {
		margin-bottom: 0px;
		margin-left: 10px
	}
	.tabs-section[data-section="greeting"] .greeting-container .upload-toggle {
		margin-left: 10px;
		min-width: 117px;
	}
	.tabs-section[data-section="greeting"] .greeting-container .upload-div {
		display: none;
		margin-top: 20px;
	}
	.tabs-section[data-section="greeting"] .greeting-container .upload-div .upload-input {
		margin: 0;
		width: 330px;
	}
	.tabs-section[data-section="greeting"] .greeting-container .upload-div button.upload-action {
		margin-left: 10px;
		padding-left: 19px;
		padding-right: 19px;
	}

	.tabs-section[data-section="greeting"] .greeting-container .upload-div button > i {
		margin-right: 0;
		padding-right: 0;
	}

	.tabs-section[data-section="greeting"] .greeting-container .upload-div .file-upload {
		margin: 0;
		display: inline-block;
	}
	.tabs-section[data-section="greeting"] .greeting-container .upload-div .file-upload > input {
		margin: 0;
		padding: 6px;
		width: 140px;
	}

	.edit-members {
		margin-left: 0.75rem;
		text-decoration: underline;
	}

	.vmbox-members {
		margin-top: 1rem;
		margin-left: 10rem;
		padding-left: 1.25rem;
		line-height: 1.25rem;
		font-size: 0.875rem;
		font-weight: 600;

		ul.vmbox-member-list {
			list-style: none;
			margin-left: 1.25rem;

			li {
				margin-bottom: 0.25rem;
			}
		}
	}
}
