<form id="form_national_holidays" class="form">
	<div class="form-content">
		<div class="control-group">
			<label class="control-label">
				{{i18n.strategy.holidays.importOfficeHolidays.labels.selectYourCountry}}
			</label>
			<div class="countries">
				<select class=countries" name="countries">
				{{#select countrySelected}}
					{{#each allCountries as |label|}}
						<option value="{{@key}}">
							{{label}}
						</option>
					{{/each}}
				{{/select}}
				</select>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">
				{{i18n.strategy.holidays.importOfficeHolidays.labels.description}}
			</label>
		</div>
		<div class="control-group">
			{{#monsterCheckbox i18n.strategy.holidays.importOfficeHolidays.labels.includeObservedDates}}
				<input type="checkbox" name="recurring" id="recurring">
			{{/monsterCheckbox}}
		</div>
		<div class="control-group">
			<div class="include-holidays-list">
				<table id="include_holidays_table" class="monster-table footable">
					<thead>
						<tr class="footable-header">
							<th data-sorted="true" data-direction="DESC">
								{{i18n.strategy.holidays.importOfficeHolidays.labels.holiday}}
							</th>
						</tr>
					</thead>
					<tbody class="footable-body">
						{{#each holidays}}
							<tr class="row" data-id="" data-event="">
								<td class="holiday-cell">
									{{#monsterCheckbox name}}
										<input class="edit-skill" type="checkbox"></input>
									{{/monsterCheckbox}}
								</td>
							</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="form-actions">
		<button type="button" class="monster-button-ghost monster-button-fit cancel">
			{{i18n.cancel}}
		</button>
		<button type="submit" class="monster-button-success monster-button-fit">
			{{i18n.strategy.holidays.importOfficeHolidays.labels.selectHolidays}}
		</button>
	</div>
</form>
