.holidays-toggler {
	padding: 20px;
}

.holidays-div {
	border-top: dashed 1px #ccc;
	padding: 20px;
	display: none;

	.holidays-add {
		padding: 0px 20px;
		margin: 0;

		.dropdown {
			display: inline-block;
		}

		.dropdown-menu {
			min-width: 0;
		}

		.dropdown-toggle {
			color: #22a5ff;
			background-color: transparent;
		}
	}

	.holidays-element {
		padding: 5px 0px;

		&:not(:last-of-type) {
			border-bottom: solid 1px #dedede;
		}

		input,
		select {
			margin: 5px 20px 5px 0px;
		}
		span {
			margin: 10px 20px 0px 0px;
		}

		.month {
			width: 70px;
			text-transform: uppercase;
		}

		.wday {
			width: 70px;
		}

		.day {
			width: 60px;
		}

		.ordinal {
			width: 120px;
		}

		.name {
			width: 380px;
			min-width: 0px;
		}

		.date {
			width: 120px;
		}

		.delete-holiday {
			float: right;
			line-height: 40px;
			cursor: pointer;
		}

		.holiday-inputs {
			display: flex;

			select,
			span {
				flex-shrink: 0;
			}
		}
	}
}
