<div>
	<ul class="office-hours-nav">
		<li class="nav-item active">
			{{i18n.strategy.hours.allDays}}
		</li>
		<li class="nav-item-filler"></li>
	</ul>
	<div class="office-hours-content">
		<div class="empty-state"{{#unless isEmpty}} style="display: none"{{/unless}}>
			<div class="title">
				{{telicon "clock"}}
				<span class="text">
					{{i18n.strategy.hours.emptyState.title}}
				</span>
			</div>
		</div>
	{{#each days}}
		{{#if intervals}}
			<div class="office-hours" data-day="{{id}}">
				<div class="day">
					{{label}}
				</div>
				<ul class="intervals">
				{{#each intervals}}
					<li class="interval">
						<div class="hours">
							<input class="span2 {{../id}}[{{@key}}].start" name="{{../id}}[{{@key}}].start"></input>
							<span class="separator">
								{{@root.i18n.strategy.hours.to}}
							</span>
							<input class="span2 {{../id}}[{{@key}}].end" name="{{../id}}[{{@key}}].end"></input>
						</div>
						<div class="status">
							<select name="{{../id}}[{{@key}}].isOpen" class="status">
							{{#select isOpen}}
								<option value="true">
									{{@root.i18n.strategy.hours.open}}
								</option>
								<option value="false">
									{{@root.i18n.strategy.hours.lunch}}
								</option>
							{{/select}}
							</select>
						</div>
						<button type="button" class="monster-button-ghost-icon delete-interval">
							{{telicon "trash"}}
						</button>
					</li>
				{{/each}}
				</ul>
			</div>
		{{/if}}
	{{/each}}
	</div>

</div>
