<div class="monster-feature-popup-container" data-feature="next_action">
	<div class="feature-popup-title">
		<div class="popup-title">
			<div class="feature-fa-wrapper">
				<i class="{{iconClass}}"></i>
			</div>
			<div class="feature-title">
				{{ i18n.groups.nextAction.headline }}
			</div>
		</div>
		<div class="switch popup-action">
		{{#monsterSwitch}}
			<input class="switch-state" type="checkbox" data-on="{{i18n.enabled}}" data-off="{{i18n.disabled}}"{{#if isEnabled}} checked="checked"{{/if}}></input>
		{{/monsterSwitch}}
		</div>
	</div>

	<div class="content{{#unless isEnabled}} disabled{{/unless}}">

		<div class="next-action">
			<span>{{ i18n.groups.nextAction.label }}</span>
			<select class="next-action-select">
			{{#select selectedEntity}}
				{{#if mainMenu}}
					<optgroup label="{{ i18n.groups.nextAction.menu }}">
						<option value="{{mainMenu.id}}" data-module="callflow">
							{{ i18n.groups.nextAction.mainMenu }}
						</option>
					</optgroup>
				{{/if}}
				{{#each categories}}
					<optgroup label="{{label}}">
					{{#each entities}}
						<option value="{{value}}" data-module="{{../module}}">
							{{label}}
						</option>
					{{/each}}
					</optgroup>
				{{/each}}
			{{/select}}
			</select>
		</div>
	</div>

	<div class="actions clearfix">
		<div class="pull-right">
			<a class="cancel-link monster-link blue" href="javascript:void(0);">{{ i18n.cancel }}</a>
			<button type="button" class="monster-button monster-button-success save">{{ i18n.saveChanges }}</button>
		</div>
	</div>
</div>
